.card-header:first-child,
.config-card-header:first-child {
  border-radius: 5px 5px 0 0;
  text-align: center;
}

.rounded {
  border-radius: 30px;
}

.metric-group {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-evenly;
}

.metric {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  min-width: 8rem;
}

.metric .metric-value {
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
  height: 5rem;
  width: 5rem;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  border: 2px solid #00a0d1;
  color: white;
}

.metric .metric-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-line {
  height: 0.5px;
  margin: 15px;
  background-color: #ededed;
}

.metric .metric-status-error {
  border: 2px solid #f7644a !important;
}

.metric .metric-status-excellent {
  border: 2px solid #00ab50 !important;
}

.metric .my-icon-excellent {
  position: absolute;
  border-radius: 30px;
  top: 6px;
  right: 10px;
  /*height: 15px;*/
  width: 35px;
  /* background: #fff; */
  background: #293649;
  color: #00ab50;
  padding-left: 2px;
}

.my-icon-check-circle_20::before {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
}

.metric .my-icon-error {
  position: absolute;
  top: 6px;
  border-radius: 30px;
  right: 10px;
  /*height: 15px;*/
  width: 35px;
  /* background: #fff; */
  background: #293649;
  color: #f7644a;
  padding-left: 2px;
}

.my-icon-error_20::before {
  font-family: "Font Awesome 5 Free";
  content: "\f057";
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  .metric-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    white-space: pre-line;
  }
}
